  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Waiter Webapp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
  <img class="headerImg" src="http://i.imgur.com/ONc3W6m.jpg">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/waiter">Waiter</a>
        <a class="mdl-navigation__link" href="/admin">Admin</a>
        <a class="mdl-navigation__link" href="log-in">Log In</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/waiter">Waiter</a>
      <a class="mdl-navigation__link" href="/admin">Admin</a>
      <a class="mdl-navigation__link" href="/log-in">Log In</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <p>
      Better Latte Than Never
      </p>
      <p>
      Cape Town's Leading Coffee Company, South Africa’s first roaster of Certified Fairtrade coffee, strives to make a sustainable difference in the lives of African coffee producers by personally sourcing quality coffee through direct fair trade while providing meaningful employment in South Africa.
      </p>
      <p>
        Direct fair trade means producers receive a fair payment for their coffee through equal engagement, regardless of market fluctuations, which ensures community development, empowerment, and sustainability.
      </p>
      <p>
        All coffee beans have an optimal roast: a point within the roasting process where the key coffee elements of aroma, body, acidity, and flavour meet perfectly, resulting in a most desirable, optimal roast.
      </p>
    </div>
  </main>
</div>
    {{!-- {{#if messages.info}}
      <div class="info">
        {{messages.info}}
      </div>
    {{/if}}

    {{#if messages.error}}
      <div class="error">
        {{messages.error}}
      </div>
    {{/if}} --}}

{{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> --}}
</body> 