<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Better Latte Than Never</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/waiter.css">
  </head>

<body>

<div class="container">
  <div class="row">
      <div class="col-md-8">
        <h2>Select days to work:</h2>
      </div>
      <form class="inputForm" action="/waiter" method="post"></form>

          <div class="form-group row">
						<label class="control-label col-sm-4" for="frm-test-elm-120">Sunday:</label>
						<div class="col-sm-8">
							<input type="checkbox" name="checkboxes[249]" id="frm-test-elm-120" autocomplete="off" checked />
					        <div class="btn-group">
					            <label for="frm-test-elm-120" class="btn btn-primary">
					                <span class="fa fa-check-square-o fa-lg"></span>
					                <span class="fa fa-square-o fa-lg"></span>
					            </label>
					        </div>
						</div>
					</div>

          <div class="form-group row">
						<label class="control-label col-sm-4" for="frm-test-elm-120-1">Monday:</label>
						<div class="col-sm-8">
							<input type="checkbox" name="checkboxes[249]" id="frm-test-elm-120-1" autocomplete="off" />
					        <div class="btn-group">
					            <label for="frm-test-elm-120-1" class="btn btn-primary">
					                <span class="fa fa-check-square-o fa-lg"></span>
					                <span class="fa fa-square-o fa-lg"></span>
					            </label>
					        </div>
						</div>
					</div>

          <div class="form-group row">
						<label class="control-label col-sm-4" for="frm-test-elm-120-2">Tuesday:</label>
						<div class="col-sm-8">
							<input type="checkbox" name="checkboxes[249]" id="frm-test-elm-120-2" autocomplete="off" checked />
					        <div class="btn-group">
					            <label for="frm-test-elm-120-2" class="btn btn-primary">
					                <span class="fa fa-check-square-o fa-lg"></span>
					                <span class="fa fa-square-o fa-lg"></span>
					            </label>
					        </div>
						</div>
					</div>

          <div class="form-group row">
						<label class="control-label col-sm-4" for="frm-test-elm-120-3">Wednesday:</label>
						<div class="col-sm-8">
							<input type="checkbox" name="checkboxes[249]" id="frm-test-elm-120-3" autocomplete="off" />
					        <div class="btn-group">
					            <label for="frm-test-elm-120-3" class="btn btn-primary">
					                <span class="fa fa-check-square-o fa-lg"></span>
					                <span class="fa fa-square-o fa-lg"></span>
					            </label>
					        </div>
						</div>
					</div>

          <div class="form-group row">
						<label class="control-label col-sm-4" for="frm-test-elm-120-4">Thursday:</label>
						<div class="col-sm-8">
							<input type="checkbox" name="checkboxes[249]" id="frm-test-elm-120-4" autocomplete="off" checked />
					        <div class="btn-group">
					            <label for="frm-test-elm-120-4" class="btn btn-primary">
					                <span class="fa fa-check-square-o fa-lg"></span>
					                <span class="fa fa-square-o fa-lg"></span>
					            </label>
					        </div>
						</div>
					</div>

          <div class="form-group row">
						<label class="control-label col-sm-4" for="frm-test-elm-120-5">Friday:</label>
						<div class="col-sm-8">
							<input type="checkbox" name="checkboxes[249]" id="frm-test-elm-120-5" autocomplete="off" />
					        <div class="btn-group">
					            <label for="frm-test-elm-120-5" class="btn btn-primary">
					                <span class="fa fa-check-square-o fa-lg"></span>
					                <span class="fa fa-square-o fa-lg"></span>
					            </label>
					        </div>
						</div>
					</div>

          <div class="form-group row">
						<label class="control-label col-sm-4" for="frm-test-elm-120-6">Saturday:</label>
						<div class="col-sm-8">
							<input type="checkbox" name="checkboxes[249]" id="frm-test-elm-120-6" autocomplete="off" checked />
					        <div class="btn-group">
					            <label for="frm-test-elm-120-6" class="btn btn-primary">
					                <span class="fa fa-check-square-o fa-lg"></span>
					                <span class="fa fa-square-o fa-lg"></span>
					            </label>
					        </div>
                </div>
              </div>

              </form>
            </div>
        </div>
    {{!-- </fieldset>
  </div>
</div>
</div> --}}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>