body {
    font-family: 'Acme', sans-serif;    
    background-color: white;
 }

h1 {
  font-family: 'Acme', sans-serif;    
  font-size: 35px;
  color: black;
}

h2 {
  font-family: 'Acme', sans-serif;    
  font-size: 30px;
  color: black;
}

th {
  font-size: 27px;
  color: black;
}

td {
  font-size: 25px;
  color: black;
}

.resetButton{
  background-color: grey;
  font-size: 17.5px !important;
}

.resetButton:hover{
background-color: #428bca;
}