body {
  font-family: 'Acme', sans-serif;    
  background-color: black;
}

h2 {
font-family: 'Acme', sans-serif;    
font-size: 40px;
}
body {
  font-family: 'Acme', sans-serif;    
  background-color: black;
}

h2 {
font-family: 'Acme', sans-serif;    
font-size: 40px;
}

.mdl-color--primary {
  background-color: rgb(66,66,66) !important;
}

.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}