body {
    font-family: 'Acme', sans-serif;    
    background-color: white;
 }

h2 {
  font-family: 'Acme', sans-serif;    
  font-size: 40px;
}

.headerImg {
  width: 100%;
}

.mdl-layout__content .page-content {
  margin-top: 4.5em;
  margin-left: 1em;
  margin-right: 1em;
}
.mdl-navigation__link {
  font-size: 18px;
  color: black;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}

p {  
  font-family: 'Acme', sans-serif;    
  font-size: 20px !important;
  line-height: 30px;
  color: black;
  letter-spacing: 1.3px;
}
